@charset "utf-8";
/* CSS Document */

body{font-family: 'Lato', sans-serif;background:#FFFFFF;font-weight:400;}

*, *:after, *:before { box-sizing: border-box; -moz-box-sizing: border-box;-ms-box-sizing: border-box;	-o-box-sizing: border-box; -webkit-box-sizing: border-box;}
*{margin:0px;padding:0px;outline:none;}
img {
    border:0px;
    display: block;
    height: auto;
    margin: auto;
    width: auto;
}
li{list-style:none;}
a{text-decoration:none;}

.banner{background:#d8d8da;width: 100%;}

.banner img{width:100%;height:auto;}

.content-agency{background:#f0f0f0;}

.notice-paragaraph{padding-top:25px;padding-bottom:25px;}

.notice-paragaraph p{font-size:30px;color:#2c2c2c;padding-left:20px;padding-right:20px;}

.cartesian_content{padding-left:22px;padding-right:20px;}

.cartesian_content ul{padding-left:0px;padding-bottom:50px;}

.cartesian_content ul li{border-bottom:3px #c8c8c8 solid;padding-bottom:15px;margin-bottom:30px;}

.cartesian_content ul li:last-child{margin-bottom:0px;}

.cartesian_content ul li a{color:#e31b23;font-size:30px; font-weight:700;background:url(accordians-noactive_bg.png) no-repeat right 97%;display: block;background-size:30px 30px;padding-right:40px;text-transform:uppercase;padding-top:5px;padding-bottom:5px;}
.cartesian_content ul li a.active {	background: url(accordians-active_bg.png) no-repeat right 97%;background-size:30px 30px;}

.cartesian_content ul li ul{display:none;margin-bottom:0px;padding-bottom:0px;}

.cartesian_content ul li ul li{border-bottom:0px;margin-bottom:0px;padding-bottom:10px;padding-top:10px;}

.cartesian_content ul li ul li h2{font-size:30px;color:#172934;padding-bottom:20px;}

.cartesian_content ul li ul li h3{font-size:13px;color:#172934;padding-bottom:5px;margin:0px}

.cartesian_content ul li ul li p{font-size:27px;color:#2c2c2c;padding-bottom:10px;}

.contact_area{width:100%;background:url(agency_contact_bg.png) no-repeat;padding-top:35px;padding-bottom:35px;padding-left:20px;padding-right:20px;background-size:100% 100%;}

/*.contact_area.border_top_red{border-top:7px solid #8a2529;}*/
/**/
/*.contact_area.border_top_yellow{border-top:7px solid #b2bb1c;}*/
/**/
/*.contact_area.border_top_blue{border-top:7px solid #00529b;}*/

.contact_area h2{text-transform:uppercase;color:#172934;font-size:30px;padding-bottom:10px;}

.contact_area ul li{padding-bottom:25px;padding-left:70px;}

.contact_area ul li.contact-number{background:url(agency_contact_number_bg.png) no-repeat left center;background-size:50px 50px;}

.contact_area ul li.website-background{background:url(agency_website_bg.png) no-repeat left center;background-size:50px 50px;}

.contact_area ul li.events-background{background:url(agency_cdp_connect_bg.png) no-repeat left center;background-size:50px 50px;}

.contact_area ul li.cdp-background{background:url(agency_events_bg.png) no-repeat left center;background-size:50px 50px;}

.contact_area ul li p{padding-top:15px;}

.contact_area ul li p a{color:#172934;font-size:30px;}

.resources{width:100%;padding-left:20px;padding-right:20px;padding-bottom:50px;}

.resources_inner{background:#f6f6f6;border:#c8c8c8 solid 1px;}

.resources_inner h1{font-size:26px;color:#FFFFFF;font-weight:bold;text-transform:uppercase;background:#172934;padding-left:20px;padding-right:20px;line-height:60px;}

.resources_inner ul li{border-top:#c8c8c8 solid 1px;padding-left:20px;padding-right:20px;padding-top:20px;padding-bottom:20px;}

.resources_inner ul li p{background:url(resorces_listing_bg.png) no-repeat left 0px;background-size:27px 27px;padding-left:42px;color:#172934;font-size:30px;}

.resources_inner ul li p a{color:#172934;font-size:20px;}

@media screen and (max-width:767px){
    .notice-paragaraph p{font-size:18px;}
    .cartesian_content ul li a{font-size:18px;}
    
    .cartesian_content ul li ul li h2{font-size:16px;padding-bottom:5px;}
    
    .cartesian_content ul li ul li p{font-size:14px;}
    
    .resources_inner h1{font-size:18px;line-height:36px;}
    .resources_inner ul li p a{font-size:16px;}
    .resources_inner ul li {
        padding: 15px;
    }
    .resources_inner ul li p{font-size:16px;padding-bottom:7px;}
    
    .contact_area h2{font-size:18px;}
    
    .contact_area ul li p a{font-size:17px;}
}