@charset "utf-8";
/* CSS Document */

body{font-family: 'Lato', sans-serif;background:#FFFFFF;font-weight:400;}

*, *:after, *:before { box-sizing: border-box; -moz-box-sizing: border-box;-ms-box-sizing: border-box;	-o-box-sizing: border-box; -webkit-box-sizing: border-box;}
*{margin:0px;padding:0px;outline:none;}
img {
    border:0px;
    display: block;
    height: auto;
    margin: auto;
    width: auto;
}
li{list-style:none;}
a{text-decoration:none;}
.clr{clear:both;}

.banner{background:#d8d8da;width: 100%;}

.banner img{width:100%;height:auto;}

.content-agency{background:#f0f0f0;}

.notice-paragaraph{padding-top:25px;padding-bottom:10px;padding-left:20px;padding-right:20px;}

/*.notice-paragaraph p{font-size:30px;color:#2c2c2c;padding-left:20px;padding-right:20px;}*/

.notice-paragaraph p{font-size:27px;color:#2c2c2c;padding-bottom:10px;}
.notice-paragaraph h2{font-size:23px;color:#172934;padding-bottom:5px;}
.notice-paragaraph h3{font-size:18px;color:#172934;padding-bottom:5px;}

.cartesian_content{padding-left:22px;padding-right:20px;}

.cartesian_content ul{padding-left:0px;padding-bottom:50px;}

.cartesian_content ul li{border-bottom:3px #c8c8c8 solid;padding-bottom:10px;margin-bottom:15px;}

.cartesian_content ul li:last-child{margin-bottom:0px;}

/*.cartesian_content ul li a{color:#e31b23;font-size:30px; font-weight:700;background:url(accordians-noactive_bg.png) no-repeat right 97%;display: block;background-size:30px 30px;padding-right:40px;text-transform:uppercase;padding-top:5px;padding-bottom:5px;}*/
/*.cartesian_content ul li a.active {	background: url(accordians-active_bg.png) no-repeat right 97%;background-size:30px 30px;}*/



.cartesian_content ul li a{color:#e31b23;font-size:30px; font-weight:700;display: block; position:relative; padding-right:40px;text-transform:uppercase;padding-top:5px;padding-bottom:5px;position:relative;z-index:10;}
/*.cartesian_content ul li a span{background:url(accordians-noactive_bg.png) no-repeat right bottom; background-size:30px 30px;position:absolute;right:0px;bottom:0px;width:30px;height:30px;display:block;-ms-transform: rotate(0deg); / IE 9 /
    -webkit-transform: rotate(0deg); / Chrome, Safari, Opera /
    -o-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);-webkit-transition:0.3s;-moz-transition:0.3s;-0-transition:0.3s;-ms-transition:0.3s;}*/
.cartesian_content ul li a span{background:url(accordians-noactive_bg.png) no-repeat right 0px; background-size:30px 30px;
    position:absolute;right:0px;bottom:5px;width:30px;height:30px;display:block;-ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg); -o-transform: rotate(0deg); -moz-transform: rotate(0deg);  transform: rotate(0deg);
    -webkit-transition:0.3s;-moz-transition:0.3s;-0-transition:0.3s;-ms-transition:0.3s;float:right;z-index:0;}
.cartesian_content ul li a.ui-state-active span {  -ms-transform: rotate(30deg); / IE 9 /
    -webkit-transform: rotate(180deg); / Chrome, Safari, Opera /
    -o-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    transform: rotate(180deg);}





.cartesian_content ul li ul{display:none;margin-bottom:0px;padding-bottom:0px;}

.cartesian_content ul li ul li{border-bottom:0px;margin-bottom:0px;padding-bottom:10px;padding-top:10px;}

.cartesian_content ul li ul li h2{font-size:30px;color:#172934;padding-bottom:20px;}

.cartesian_content ul li ul li h3{font-size:13px;color:#172934;padding-bottom:5px;margin:0px}

.cartesian_content ul li ul li p{font-size:27px;color:#2c2c2c;padding-bottom:10px;}

.contact_area{width:100%;background:url(agency_contact_bg.png) no-repeat;padding-top:25px;padding-bottom:20px;padding-left:20px;padding-right:20px;background-size:100% 100%;}

/*.contact_area.border_top_red{border-top:7px solid #8a2529;}*/
/**/
/*.contact_area.border_top_yellow{border-top:7px solid #b2bb1c;}*/
/**/
/*.contact_area.border_top_blue{border-top:7px solid #00529b;}*/

.contact_area h2{text-transform:uppercase;color:#172934;font-size:30px;padding-bottom:5px;}

.contact_area ul li{padding-left:60px;}

.contact_area ul li.contact-number{background:url(agency_contact_number_bg.png) no-repeat left center;background-size:45px 45px;padding-bottom:15px;}

.contact_area ul li.website-background{background:url(agency_website_bg.png) no-repeat left center;background-size:45px 45px;padding-bottom:15px;}

.contact_area ul li.cdp-background{background:url(agency_cdp_connect_bg.png) no-repeat left center;background-size:45px 45px;padding-bottom:15px;}

.contact_area ul li.events-background{background:url(agency_events_bg.png) no-repeat left center;background-size:45px 45px;padding-bottom:15px;}

.contact_area ul li p{}

.contact_area ul li.contact-number p{padding-top:3px;}

.contact_area ul li.website-background p{padding-top:3px;}

.contact_area ul li.events-background p{padding-top:3px;}

.contact_area ul li.cdp-background p{padding-top:3px;}

.contact_area ul li p a{color:#172934;font-size:30px;}

.resources{width:100%;padding-left:20px;padding-right:20px;padding-bottom:50px;}

.resources_inner{background:#f6f6f6;border:#c8c8c8 solid 1px;}

.resources_inner h1{font-size:26px;color:#FFFFFF;font-weight:bold;text-transform:uppercase;background:#172934;padding-left:20px;padding-right:20px;line-height:60px;}

.resources_inner ul li{border-top:#c8c8c8 solid 1px;padding-left:20px;padding-right:20px;padding-top:20px;padding-bottom:30px;}

.resources_inner ul li p{background:url(resorces_listing_bg.png) no-repeat left 0px;background-size:24px 24px;padding-left:42px;color:#172934;font-size:20px;line-height:24px}

.resources_inner ul li p a{color:#172934;font-size:20px;line-height:24px;display:block}

.cartesian_content > ul > li > ul > li > ul{ display: block !important;}

@media screen and (max-width:767px){
    .notice-paragaraph p{font-size:18px;}
    .cartesian_content ul li a{font-size:18px;}
    
    .cartesian_content ul li ul li h2{font-size:16px;padding-bottom:5px;}
    
    .cartesian_content ul li ul li p{font-size:14px;}
    
    .resources_inner h1{font-size:18px;line-height:36px;}
    .resources_inner ul li p a{font-size:16px;}
    .resources_inner ul li {
        padding: 15px;
    }
    .resources_inner ul li p{font-size:16px;padding-bottom:7px;}
    
    .contact_area h2{font-size:19px;font-weight:900;}
    
    .contact_area ul li p a{font-size:20px;font-weight:400;margin-top:15px;display:inline-block;}
}